/* Estrutura do site */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Helvetica', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 
    Arial, sans-serif;

    background: white url(../images/bg.png);
    margin: 15px;
}

#container {
    border: 1px solid red;
}